*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: #1D1F42;
  color: #EBE8FF;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.img-preview {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  position: relative;
  height: 100vh;
  width: 100vw;
}

.blur {
  /* filter: blur(2px);c */
}

.linkShare {
  background-color: transparent;
  border-radius: 25px 25px 0 0;
  width: 300px;
  /* Has to be a bit bigger because the blur makes it a bit transparent at the edge */
  height: 42vh;
  /* z-index: 10; */
  background-color: #1D1F42;
  transition: transform 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* position: absolute; */
  /* top: 60vh; */
  /* left: 50%; */
  /* transform: translate3d(-50%, 0, 0); */
  flex: 1;
}

.link {
  color: black;
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-text {
  text-align: center;
}

.file-wrapper {
  width: 300px;
  height: 200px;
  /* border: 4px dashed #fff; */
  position: relative;
  margin-bottom: 3rem;
}
svg { overflow: visible; }
/* #maskReveal {
  fill: none;
  stroke-width: 4;
  stroke-dasharray: 10, 8;
  stroke: black;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  stroke-miterlimit: 0;
} */

/* FILE PICKER */
.file-picker__wrapper {
  position: absolute;
  inset: 0;
  opacity: 0;
  /* display: none; */
  transition: opacity 300ms ease-in;
  width: 100%;
  height: 100%;
}

.file-picker__wrapper.active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.file-picker__input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.file-picker__info-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FILE PREVIEW */
.file-preview__wrapper {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 300ms ease-in;
}

.file-preview__wrapper.active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

#preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  transform: translate3d(90px, 0, 0);
}

.svg-wrapper {
  width: 100px;
  height: 100px;
  stroke: #EBE8FF;
}

.svg-wrapper.connected {
  stroke: #8501FA;
}

/* // SEND BUTTON */
.send-button {
  background-color: transparent;
  color: #efefef;
  border-radius: 4px;
  width: 300px;
  height: 30px;
  transition: all 200ms ease-out;
}

.send-button:hover {
  color: green;
  background-color: #efefef;
}

.modal-wrapper {
  position: absolute;
  top: 100vh;
  left: 0;
  right: 0;
  transition: all 200ms ease-out;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.modal-wrapper.active {
  transform: translate3d(0, -70vh, 0);
}

.btn-close {
  position: absolute;
  top: -2rem;
  right: 9rem;
}

.bg-filter {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  animation: blurDown 200ms linear forwards;
}

.bg-filter.active {
  animation: blurUp 200ms linear forwards;
}

@keyframes blurUp {
  0% {
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 0.7;
  }
}

@keyframes blurDown {
  0% {
    visibility: visible;
    opacity: 0.7;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}
