*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

:root {
  --blue: #000bf5;
  --purple: #8501fa;
  --magenta: #f606e0;
  --cyan: #5cceee;
  --dark-purple: #2e326b;
  --dark-grey: #1d1f42;
  --light-grey: #ebe8ff;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h1 {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.img-preview {
  width: 100px;
  height: 100px;
  margin: 0 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.linkShare {
  background-color: transparent;
  border-radius: 25px 25px 0 0;
  width: 300px;
  height: 40vh;
  background-color: var(--dark-grey);
  transition: transform 200ms ease-out;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex: 1;
}

.link {
  color: black;
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: var(--blue);
}

.link:active {
  border-color: var(--purple);
  opacity: 0.7;
}

.link-text {
  text-align: center;
}

.media {
  position: relative;
  width: 300px;
  height: 200px;
}

.file-wrapper {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 3rem;
}

.rect {
  width: 300px;
  height: 200px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
  fill: none;
  stroke-width: 4;
  overflow: visible;
}

#mask-path {
  stroke: #fff;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: revealRect 1500ms linear forwards;
}

#dashed-path {
  stroke: var(--cyan);
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  opacity: 0;
}

#dashed-path-2 {
  stroke: var(--magenta);
  stroke-dasharray: 15, 10;
  stroke-dashoffset: 7;
  animation: changeColor 1500ms linear forwards;
}

#dashed-path-3{
  stroke: var(--purple);
  stroke-dasharray: 15, 10;
  stroke-dashoffset: 7;
}

#dashed-path-4 {
  stroke: var(--blue);
  stroke-dasharray: 15, 10;
  stroke-dashoffset: 7;
}

/* FILE PICKER */
.file-picker__wrapper {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms ease-in;
  width: 100%;
  height: 100%;
}

.file-picker__wrapper.active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

.file-picker__input {
  width: 100%;
  height: 100%;
  opacity: 0;
}

.file-picker__info-container {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* FILE PREVIEW */
.file-preview__wrapper {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: opacity 300ms ease-in;
}

.file-preview__wrapper.active {
  opacity: 1;
  transition: opacity 300ms ease-out;
}

#preview {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translate3d(90px, 0, 0);
}

/* // SEND BUTTON */
.send-button {
  background-color: transparent;
  color: var(--light-grey);
  border-radius: 4px;
  width: 300px;
  height: 30px;
  transition: all 200ms ease-out;
}

.send-button:hover {
  color: var(--magenta);
  background-color: var(--light-grey);
}

.modal-wrapper {
  position: absolute;
  top: 110vh;
  left: 0;
  right: 0;
  transition: all 200ms ease-out;
  display: flex;
  justify-content: center;
  z-index: 20;
}

.modal-wrapper.active {
  transform: translate3d(0, -83vh, 0);
}

.btn-close {
  position: absolute;
  top: -35px;
  right: 50%;
  background: transparent;
  border: none;
  color: var(--light-grey);
  stroke-width: 2px;
  width: 20px;
  height: 20px;
  transform: translateX(100px);
}

.bg-filter {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  animation: blurDown 200ms linear forwards;
}

.bg-filter.active {
  animation: blurUp 200ms linear forwards;
}

@keyframes blurUp {
  0% {
    visibility: visible;
  }

  100% {
    visibility: visible;
    opacity: 0.7;
  }
}

@keyframes blurDown {
  0% {
    visibility: visible;
    opacity: 0.7;
  }

  100% {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes revealRect {
  0% {
    stroke-dashoffset: 1000;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes changeColor {
  0% {
    stroke: var(--blue);
  }

  50% {
    stroke: var(--purple);
  }

  100% {
    stroke: var(--magenta);
  }
}
